.navbar {
  transition: background-color 0.3s ease;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.nav-link {
  color: #333333 !important;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff !important;
}

.navbar-toggler {
  border: none;
  
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}